pyyaml
sqlparse>=0.4.4
Deprecated
pyodbc
importlib-metadata
azure-cosmos
timezonefinder==6.0.2
more_itertools
pycountry
databricks-sdk
# Numpy does not support 3.8 if above 1.24
numpy<=1.24;python_version<="3.8"
numpy;python_version>"3.8"
urllib3==1.26.16;python_version<="3.8" # follows numpy
urllib3;python_version>"3.8" # follows numpy
msal
pandas